#projects-container {
    padding-top: 20px;
    margin-top: 3px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    /*background-color: #919196;*/
    height: 100%;
}
